---
layout: wrapper
---
<a name="top"></a>
<div class="navbar" role="navigation">
	<div class="container">
	<a class="navbar-toggle" href="#sitemap">&#9776;</a>
	<a class="navbar-brand" href="/"><span class="navbar-logo icon-logo">&nbsp;</span><span class="navbar-logo-text">{{ site.name }}</span></a>
	<ul class="navbar-links">
		{% include nav.html %}
	</ul>
	</div>
</div>
<div class="page-title">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.subtitle %}<h2>{{ page.subtitle }}{% if page.link %} <a href="{{ page.link }}">(link)</a>{% endif %}</h2>{% endif %}
	</div>
</div>
<div class="container-bkg">
	<div class="container main-content">
		{{content}}
	</div>
</div>
<div class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-3">
				<a name="sitemap"></a>
				<h3>Sitemap</h3>
				<ul class="page-footer-links sitemap">
					{% include nav.html home=true %}
					<li class="footer-jump-top"><a href="#top">Top &uarr;</a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3">
				<h3>Connect</h3>
				<ul class="page-footer-links list-menu">
					<li><a href="http://sg.linkedin.com/in/gauravmanek"><span class="footer-icon icon-linkedin">&nbsp;</span></a></li>
					<li><a href="https://github.com/gauravmm"><span class="footer-icon icon-github">&nbsp;</span></a></li>
					<li><a href="mailto:gaurav@gauravmanek.com"><span class="footer-icon icon-mail">&nbsp;</span></a></li>
					<li><a href="/feed.xml"><span class="footer-icon icon-rss">&nbsp;</span></a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-3">
				<div class="page-footer-brand"><span class="page-footer-logo icon-logo">&nbsp;</span></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 footer-copyright">&copy; Gaurav Manek 2011-2020. <a href="https://github.com/gauravmm/gauravmanek.com">Get the source code here.</a></div>
		</div>
	</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-3.4.1.min.js"><\/script>')</script>
<script src="/js/main.js"></script>
{% if page.mathjax %}<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>{% endif %}
