---
layout: wrapper
---

<div class="front-wrapper">
	<div class="front-bar front-fill">&nbsp;</div>
	<div class="container front front-fill">	
		<div class="icon-logo front-logo">&nbsp;</div>
		<div class="front-text">
			<div class="front-title">
			{{ content }}
			</div>
			<ul class="list-menu front-nav sitemap">
				{% if page.url == "/index.html" %}
					{% include nav.html hidehome=true %}
				{% else %}
					{% include nav.html %}
				{% endif %}
			</ul>
			<ul class="list-menu front-connect">
				<li><a href="http://sg.linkedin.com/in/gauravmanek"><span class="front-icon icon-linkedin">&nbsp;</span></a></li>
				<li><a href="https://github.com/gauravmm"><span class="front-icon icon-github">&nbsp;</span></a></li>
				<li><a href="mailto:gaurav@gauravmanek.com"><span class="front-icon icon-mail">&nbsp;</span></a></li>
			</ul>
		</div>
	</div>
</div>