//
// Navbars
// --------------------------------------------------

// Color and scale information
//

// Basics of a navbar
@navbar-height:                  50px;
@navbar-logo-size:							 40px;
@navbar-margin-bottom:           0; // @line-height-computed;
@navbar-padding-horizontal:      floor((@grid-gutter-width / 2));
@navbar-padding-vertical:        ((@navbar-height - @line-height-computed) / 2);

@navbar-theme-bg:                @theme-primary-dark;
@navbar-theme-logo-color:				 @theme-neutral;
@navbar-theme-border:            darken(@navbar-theme-bg, @theme-border-darker-percentage);
@navbar-theme-link:              @theme-secondary-light;

// Hover
@navbar-theme-hover-link:        @theme-secondary-dark;
@navbar-theme-hover-line:        @theme-secondary-dark;

// Current
@navbar-theme-current-link:      @theme-neutral;
@navbar-theme-current-bg:      	 @theme-primary-lessdark;
@navbar-theme-current-line:      darken(@navbar-theme-bg, @theme-border-darker-percentage); //darken(@navbar-theme-current-bg, 6.5%);


// Wrapper
//
.navbar {
  position: relative;
  min-height: @navbar-height;
	margin-bottom: @navbar-margin-bottom;
  z-index: @zindex-navbar;
	
	// Color and styling
	background-color: @navbar-theme-bg;
	border-bottom: thin solid @navbar-theme-border;
	color: @navbar-theme-link;
    
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
}

// Remove padding when contained in a .container:
.container,
.container-fluid {
  > .navbar-brand,
  > .navbar-links {
    margin-right: -@navbar-padding-horizontal;
    margin-left:  -@navbar-padding-horizontal;
  }
}

// Navbar links area
.navbar-links {
  overflow-x: visible;
  padding: 0 @navbar-padding-horizontal;
	margin: 0;
	float: right;
  &:extend(.clearfix all);
  -webkit-overflow-scrolling: touch;
	
	> li {
		list-style-type: none;
		display: inline-block;
	}
	
	> li > a {
		display: block;
		height: @navbar-height;
		padding: @navbar-padding-vertical @navbar-padding-horizontal;
		color: @navbar-theme-link;
		&:hover,
		&:focus {
			border-bottom: medium solid @navbar-theme-hover-line;
			color: @navbar-theme-hover-link;
			text-decoration: none;
		}
	}
	
	.navbar-current a {
		color: @navbar-theme-current-link;
		border-left: thin solid @navbar-theme-current-line;
		border-right: thin solid @navbar-theme-current-line;
		background: @navbar-theme-current-bg;
		
		&:hover,
		&:focus {
			color: @navbar-theme-current-link;
			border-bottom: none;
			text-decoration: none;
		}
	}

  @media (min-width: @grid-float-breakpoint) {
    width: auto;
    box-shadow: none;
  }
}

// Brand/project name
.navbar-brand {
  float: left;
  height: @navbar-height;
	color: @navbar-theme-logo-color;
	
	&:hover,
	&:focus {
		text-decoration: none;
		color: @navbar-theme-logo-color;
	}
	
  @media (min-width: @grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -@navbar-padding-horizontal;
    }
  }
	
	> span {
		line-height: @navbar-logo-size;
		.navbar-vertical-align(@navbar-logo-size);	
	}

	.navbar-logo {
		.svg-image("../img/logo-transparent.svg", @navbar-logo-size, @navbar-logo-size);
	}

	.navbar-logo+.navbar-logo-text {
		margin-left: @navbar-padding-horizontal;
	}

	.navbar-logo-text {
		display: inline-block;
	}
}

// Toggle the visibility of navbar-links
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: @navbar-padding-horizontal;
  padding: 9px 10px;
  .navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  border-radius: @border-radius-base;

  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}
