// Page background:
body {
	background: #F2F2F2 url(../img/bkg.svg) repeat;
}

.main-content {
	// Force to grow to fit content
	overflow: auto;
	
	// Colors and themes:
	background: @theme-background;
	border: thin solid #000;
}