//
// Footer
// --------------------------------------------------

// Basics
@footer-min-height:              200px;
@footer-logo-size:							 0.8 * @footer-min-height;
@footer-padding-top:        		 @line-height-computed;
@footer-icon-size:							 36px;

@footer-theme-bg:                @theme-primary-dark;
@footer-theme-border:            darken(@footer-theme-bg, @theme-border-darker-percentage);
@footer-theme-text:							 @theme-secondary-light;
@footer-theme-link:              @theme-primary-light;

// Hover
@footer-theme-hover-link:        @theme-secondary-dark;

// Current
@footer-theme-current-link:      @theme-neutral;
@footer-theme-current-bg:      	 @theme-primary-lessdark;

// Touch Assist
@footer-theme-touch-assist:      darken(@navbar-theme-bg, @theme-border-darker-percentage);
@touch-assist-padding: 	 6px;


// Wrapper
//
.page-footer {
  position: relative;
	overflow: auto;
  min-height: @footer-min-height;
	z-index: @zindex-footer;
	
	// Color and styling
	background-color: @footer-theme-bg;
	border-top: thin solid @footer-theme-border;
	color: @footer-theme-link;
    
  // Prevent floats from breaking the navbar
  &:extend(.clearfix all);
	
	h1, h2, h3, h4, h5, h6 {
		color: @footer-theme-text;
	}
	
	text-align: center;
	@media (min-width: @grid-float-breakpoint) {
		text-align: left;
	}
}

// Remove padding when contained in a .container:
.container,
.container-fluid {
  > .navbar-brand,
  > .navbar-links {
    margin-right: -@navbar-padding-horizontal;
    margin-left:  -@navbar-padding-horizontal;
  }
}

// Footer links area
.page-footer-links {
  overflow-x: visible;
	padding: 0;
  &:extend(.clearfix all);
  -webkit-overflow-scrolling: touch;
	
	> li {
		list-style-type: none;
	}
	
	> li > a {
		color: @navbar-theme-link;
		&:hover,
		&:focus {
			color: @navbar-theme-hover-link;
			text-decoration: none;
		}
	}
	
}

.sitemap {
	// If on small screen sizes, add more padding and make the hit-area obvious:
	@media (max-width: @grid-float-breakpoint) {
		> li {
			min-width: 80%;
		}
		> li > a {
			display: block;
			width: 100%;
			
			padding: @touch-assist-padding;
			margin: @touch-assist-padding auto;
			background: @footer-theme-touch-assist;
		}
	}
}

.footer-jump-top {
	@media (min-width: @grid-float-breakpoint) {
		display: none;
	}
}

.connect {
	.list-inline;
	width: 100%;
	
	> li {
		margin-left: @footer-icon-size / 4;
		margin-right: @footer-icon-size / 4;
		&:first-child {
			margin-left: auto;
		}
		&:last-child {
			margin-right: auto;
		}
	}
}

// Brand/project name
.page-footer-brand {
	width: 100%;
	text-align: center;
	
	.page-footer-logo {
		.icon-logo;
		.svg-icon-size(@navbar-logo-size, @navbar-logo-size);
		
		@media (min-width: @grid-float-breakpoint) {
			.svg-icon-size(@footer-logo-size, @footer-logo-size);
		}
	}
}

.footer-copyright {
	&:before {
		clear: both;
	}
	width: 100%;
	text-align: center;
	color: @footer-theme-text;
	
	a {
		color: @footer-theme-link;
		
		&:hover,
		&:focus {
			color: @footer-theme-hover-link;
			text-decoration: none;
		}
	}
}


.footer-linkedin {
	.icon-linkedin;
	.svg-icon-size(@footer-icon-size);
}
.footer-github {
	.icon-github;
	.svg-icon-size(@footer-icon-size);
}
.footer-mail {
	.icon-mail;
	.svg-icon-size(@footer-icon-size);
}
.footer-rss {
	.icon-rss;
	.svg-icon-size(@footer-icon-size);
}