---
layout: default
---
<div class="col-md-9 scrollspy-search">
	{{ content }}
	<p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %} • {{ page.categories }}</p>
</div>
<div class="col-md-3">
	<div class="sidebar-nav">
		<h2>Navigation</h2>
		<div class="scrollspy-display">
			<h3>This Page</h3>
		</div>
		<div>
			<h3>Archives</h3>
			<ol>
				<li><a href="#">March 2014</a></li>
				<li><a href="#">February 2014</a></li>
				<li><a href="#">January 2014</a></li>
				<li><a href="#">December 2013</a></li>
				<li><a href="#">November 2013</a></li>
				<li><a href="#">October 2013</a></li>
				<li><a href="#">September 2013</a></li>
				<li><a href="#">August 2013</a></li>
				<li><a href="#">July 2013</a></li>
				<li><a href="#">June 2013</a></li>
				<li><a href="#">May 2013</a></li>
				<li><a href="#">April 2013</a></li>
			</ol>
		</div>
	</div>
</div>